{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Juego final
{% endblock %}

{% block content %}
<p>
    A continuación, usted podrá cubrir sus pérdidas tomando el 80% de las ganancias de otro jugador.
    Lo que sea que usted tomé será multiplicado por 3. Es decir que, si el otro jugador tenía 10000, usted podrá tomar
    8000; esa cantidad su multiplicará por 3 y se le dará a usted.
</p>
    {% formfield player.appr %}

    {% if player.appr == 1 %}
<p>Para completar su pago, regrese dentro de dos semanas, cuando el estudio haya terminado </br>
    En este momento podrémos darle el resto de su pago
</p>
    {% else %]
<p> usted eligío no tomar le 80% del otro jugador. Fin del juego</p>
    {% endif %}

{% endblock %}