{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Final
{% endblock %}

{% block content %}
{% formfield player.appr %}
    {% if player.appr == 1 %}
<p>Para completar su pago, regrese dentro de dos semanas, cuando el estudio haya terminado </br>
    En este momento podrémos darle el resto de su pago es {{participant.payoff}}
</p>
    {% else %]
<p> Usted eligío no tomar el 80% del otro jugador. Su pago total es de {{participant.payoff}} </br>
    Fin del juego</p>
    {% endif %}

    {% next_button %}

{% endblock %}