{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    ANUNCIO
{% endblock %}

{% block content %}

    {% if  participant.vars.treatment  ==  1  %}
        <p>
            Sus ganancias acumuladas <b>NO</b> han sido afectadas.  <b>NO SHOCK</b>.<br><br>
            Usted había acumulado <b>{{ acc_payoff }} puntos</b>, ahora tiene lo mismo.<br>
        </p>
    {% elif  participant.vars.treatment  ==  2  %}
        <p>
            Sus ganancias acumuladas <b>han</b> sido afectadas. <b>RANDOM</b>.<br>
            Usted había acumulado <b>{{ acc_payoff }} puntos</b>, ahora tiene <b>{{ final_payoff }} </b> puntos<br>.
        </p>
    {% elif  participant.vars.treatment  ==  3  %}
        <p>
            Sus ganancias acumuladas <b>han</b> sido afectadas. <b>INTENTIONAL</b>.<br>
            Usted habia acumulado <b>{{ acc_payoff }} puntos</b>, ahora tiene <b>{{ final_payoff }} </b> puntos</b>.
            <br>
        </p>
    {% endif %}

    {% next_button %}
{% endblock %}

{% block styles  %}
    <link href="{% static "static_sumas/css/style_sumas.css" %}" rel="stylesheet">
{% endblock %}
