{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if orden == True %}
    Tercera Parte
    {% else %}
    Segunda Parte
    {% endif %}
{% endblock %}

{% block content %}

<p>
    Ahora le daremos la oportunidad de ganar unos pesos más. Queremos que declare sus expectativas sobre el comportamiento
    de la persona con la cuales ha sido emparejado. Por cada respuesta correcta usted ganará media (1/2) moneda experimental
</p>
{% formfield player.belief_shock %}

{% formfield player.belief %}



    {% next_button %}
{% endblock %}
