{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if orden == True %}
    Tercera Parte
    {% else %}
    Segunda Parte
    {% endif %}
{% endblock %}

{% block content %}
     {% if orden == True %}
<p>
    Esta es la tercera parte del estudio.
</p>
     {% else %}
<p>
    Esta es la segunda parte del estudio.
</p>
{% endif %}
<p>
    Usted interactuará con otra persona de esta sesión. Ninguna persona sabrá la identidad del otro. Sin embargo, es
    alguien entre todos los participantes que están en este momento en el salón. Quién será, el computador lo
    determinará más adelante a través de un sorteo.  La cantidad de dinero que puede ganar en esta actividad dependerá
    de sus decisiones y de las decisiones de la persona con la que sea emparejado.
</p>
<p>
    Para esta parte, usted y la persona con la que interactuará recibirán como dotación inicial 10 monedas
    experimentales cada uno. Cada moneda experimental equivale a COP 1.000. Ustedes tienen que decidir si reducir la
    dotación inicial del otro o si dejarla tal como está. Reducir la dotación inicial del otro le va a costar a usted
    1 moneda experimental. Pagando 1 moneda experimental, usted puede recudir la dotación inicial del otro en 5 monedas
    experimentales. El otro participante incurrirá en el mismo costo (1 moneda experimental) si él o ella decide reducir
    su dotación inicial. Note que solo pueden pasar cuatro eventos:
<ol type = "1">
    <li>Si ambos deciden dejar la dotación inicial tal como está, ambos ganarán 10 monedas experimentales. </li>
    <li>Si usted decide reducir la dotación inicial del otro, pero él o ella decide dejar su dotación inicial tal
        como está, entonces usted ganará 9 monedas experimentales y la otra persona ganará 5 monedas experimentales.</li>
    <li>Si usted decide dejar la dotación inicial del otro tal como está, pero él o ella decide reducir su dotación
        inicial, entonces usted ganará 5 monedas experimentales y la otra persona ganará 9 monedas experimentales.</li>
    <li>Si ambos deciden reducir la dotación inicial del otro, ambos ganarán 4 monedas experimentales.</li>
</ol>
</p>
<p>
    Recuerde que si usted no puede asistir a la nueva sesión, por favor infórmenos al final de esta sesión para acordar
    una fecha para pagarle el resultado de la segunda y tercera parte del día de hoy.
</p>

    {% next_button %}
{% endblock %}
