{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if orden == True %}
    Tercera Parte
    {% else %}
    Segunda Parte
    {% endif %}
{% endblock %}

{% block content %}
<p>
    Por favor tome su decisión:
</p>
<p>
    Su dotación inicial en esta actividad es 10 monedas experimentales.
</p>
<p>
    ¿Usted quiere pagar una moneda experimental para reducir la dotación inicial de la persona con la que fue emparejado?
</p>
    Si usted elige “SÍ”, usted incurrirá en un costo de 1 moneda experimental y la dotación inicial de la persona con
la que está interactuando se reducirá en 5 monedas experimentales. La otra persona tomará simultáneamente la misma
decisión.
</p>
<!--El código de abajo funciona porque en pages.py definí una clase "player" que tiene destroy y
 esto lo definí en models.py. destroy es un boolean que se le pregunta al usuario-->

{% formfield player.destroy %}

    {% next_button %}
{% endblock %}
