{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if orden == True %}
    Segunda Parte
    {% else %}
    Tercera Parte
    {% endif %}
{% endblock %}

{% block content %}
     {% if orden == True %}
<p>
    Esta es la segunda parte del estudio.
</p>
     {% else %}
<p>
    Esta es la tercera parte del estudio.
</p>
{% endif %}
<p>
    En esta sesión, usted será emparejado con otra persona que participará en una sesión posterior. Es decir, su pago
    dependerá de sus decisiones hoy y de las del otro participante en la otra sesión. En ningún momento, ni el otro
    participante ni usted sabrán la identidad del otro.
</p>
<p>
    Para esta parte del estudio, usted tiene la oportunidad de apropiarse del 80% de las ganancias del otro
    participante. Si usted decide apropiarse del 80% de las ganancias del otro participante, nosotros los
    experimentadores multiplicaremos por 3 este monto. Recuerde que las ganancias de esta parte se pagarán en una nueva
    sesión, una vez nosotros sepamos cuánto fue la ganancia del otro participante. Nosotros los experimentadores
    multiplicaremos por 3 el 80% de ese monto y se lo entregaremos en la nueva sesión.
</p>
<p>
    Tenga en cuenta que aunque haya otras personas en este salón, con toda seguridad usted NO será emparejado con
    ninguna de ellas. Además, ningún participante de esta sesión sabrá su identidad ni qué decisiones tomó. Para esta
    parte de la actividad, las decisiones de los demás participantes en este salón no tendrán ningún impacto en usted
    ni las suyas en ellos.
</p>
<p>
    Recuerde que si usted no puede asistir a la nueva sesión, por favor infórmenos al final de esta sesión para acordar
    una fecha para pagarle el resultado de la segunda y tercera parte del día de hoy.
</p>
    {% formfield player.appr %}

    {% next_button %}
{% endblock %}