{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Segundo Juego
{% endblock %}

{% block content %}
<p>
    Esta es la segunda parte del estudio. Usted tiene la oportunidad de apropiarse del 80% de la cantidad de puntos que otro
    participante del estudio realizará en la actividad de las sumas.
    El otro participante no sabrá su identidad ni usted la de él o ella.
    Tenga en cuenta que el otro participante no se encuentra en esta misma sesión, por lo tanto, todavía no sabemos cuántos puntos ha obtenido.
    Si usted decide apropiarse del 80% de los puntos del otro participante, entonces, una vez sepamos cuántos puntos obtuvo el otro participante, nosotros los experimentadores multiplicaremos por 3 ese monto.
    El monto que usted puede apropiarse es variable y puede estar entre $0 y $20.000.
</p>
    {% formfield player.appr %}

    {% next_button %}
{% endblock %}