{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Segundo Juego
{% endblock %}

{% block content %}
<p>
    Esta es la segunda parte del estudio.
    En esta sesión, usted será emparejado con otra persona que participará en una sesión posterior. Es decir, su pago dependerá de sus decisiones hoy y de las del otro jugador en la otra sesión. En ningún momento, ni el otro participante ni usted sabrán la identidad del otro. Hay otras personas en este salón, pero con toda seguridad usted NO será emparejado con ninguna de ellas.
    Además, ningún participante de esta sesión sabrá su identidad ni qué decisiones tomó.
    Las decisiones de los demás participantes en este salón no tendrán ningún impacto en usted ni las suyas en ellos. Usted tiene la oportunidad de apropiarse del 80% de las ganancias de otro participante. Si usted decide tomar esta decisión, entonces, una vez sepamos cuánto ganó el otro participante, nosotros los experimentadores multiplicaremos por 3 el 80% de ese monto, que usted recibirá.
</p>
<p>
    Debido a que no sabemos la ganancia obtenida por el otro participante, le pedimos que, por favor, asista a la nueva sesión donde le pagaremos el resultado de esta segunda parte y de la tercera parte.
    Adicionalmente, si usted lo desea podrá participar en un estudio diferente a la del día de hoy.
    Si usted no puede asistir a esta nueva sesión no se preocupe que nosotros, de igual manera, le pagaremos el resultado de sus decisiones.
    Si este es el caso, por favor informar al finalizar la sesión del día de hoy a alguno de los asistentes.
</p>
    {% formfield player.appr %}

    {% next_button %}
{% endblock %}